[submodule "Sources/ThirdParty/spdlog"]
	path = Sources/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Framework/ThirdParty/spdlog"]
	path = Framework/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
